@page
@model AdminModel
@{
    ViewData["Title"] = "Home page";
}

<center>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Administradores">
                Administradores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Auditorias">
                Auditorias
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Clientes">
                Clientes
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Eventos">
                Eventos
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Facturas">
                Facturas
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Grupos">
                Grupos
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="GruposTrabajadores">
                Grupos de Trabajadores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Horarios">
                Horarios
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Inventarios">
                Inventarios
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Lugares">
                Lugares
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Ofertas">
                Ofertas
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Patrocinadores">
                Patrocinadores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="PersonalApoyos">
                Personal de Apoyo
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Proveedores">
                Proveedores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Reservas">
                Reservas
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="TipoEventos">
                Tipos de Eventos
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Ofertas">
                Ofertas
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="TipoPatrocinadores">
                Tipos de Patrocinadores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="TipoTrabajadores">
                Tipos de Trabajadores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Trabajadores">
                Trabajadores
            </a>
        </button>
        <button class="btn btn-primary" type="button">
            <a class="nav-link text-dark"
               asp-area=""
               asp-page="Transportes">
                Transportes
            </a>
        </button>
        
    </div>

</center>
